.accordion-header {
  margin-top: 55px;
}
.cardPhone:hover {
  transform: scale(1.05);
  transition: 0.5s;
  box-shadow: 0px 0px 23px 0px rgba(34, 60, 80, 0.4);
}
/* Reset some default styles */
body,
html {
  margin: 0;
  padding: 0;
}
/* Регистрация */
.btn-registration {
  background-color: #007bff;
  border-color: #007bff;
}

.btn-registration:hover {
  background-color: #0056b3;
  border-color: #0056b3;
}
/* Вход */
.btn-login {
  background-color: #28a745;
  border-color: #28a745;
}

.btn-login:hover {
  background-color: #218838;
  border-color: #218838;
}
/* Регистрация финиш */
 /* Детальный обзор Start*/

/* Стили для модального окна */
.modal {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.7);
}

.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50%;
  max-width: 600px; /* Установите максимальную ширину по необходимости */
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 20px 0px rgba(0, 0, 0, 0.2);
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
}

/* Стили для изображения в модальном окне */
#myModalImageContainer {
  text-align: center;
  margin-bottom: 20px;
}

#myModalImageContainer img {
  max-width: 100%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.1);
}

/* Стили для остальных данных в модальном окне */
#myModal p {
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
}



/* Детальный обзор Finish*/
/* Global styles */
body {
  font-family: "Arial", sans-serif;
  background-color: #007efd;
}

.container {
  max-width: 1200px;
  height: 450px;
}

/* Navbar styles */
.navbar {
  background-color: #343a40;
}
#inpSearch {
  height: 38px; /* Выберите желаемую высоту */
}

/* Стили для кнопки поиска */
.btn-success {
  height: 38px; /* Выберите желаемую высоту */
}
.navbar-brand {
  color: #0051ff;
  font-weight: bold;
}
.navbar-nav a:hover {
  background-color: #555; /* Цвет подсветки */
  color: #fff; /* Цвет текста при подсветке */
  transition: background-color 0.3s ease; /* Плавное изменение цвета подсветки */
}
.navbar-nav a {
  color: #ffffff !important;
}

/* Main section styles */
#sectionPhones {
  margin-top: 20px;
}

/* Accordion styles */
.accordion-button {
  background-color: #6c757d;
  color: #ffffff;
}

/* Form styles */
.form-control {
  margin-bottom: 10px;
}

.btn-outline-success {
  color: #28a745;
  border-color: #28a745;
}

/* Modal styles */
.modal-header {
  background-color: #343a40;
  color: #ffffff;
}

.modal-body input {
  margin-bottom: 10px;
}

.btn-primary {
  background-color: #007bff;
  border-color: #007bff;
}

/* Pagination styles */
.pagination {
  margin-top: 20px;
}

.page-link {
  color: #007bff;
}
.footer {
  background: #000;
  width: 100%;
  padding-bottom: 60px;
}
.footer-item {
  display: flex;
  justify-content: center;
  gap: 120px;
}
.footer-item-title h3 {
  color: #fff;
  /* Heading */
  font-family: Comfortaa;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin-bottom: 70px;
  margin-top: 40px;
}
.footer-item-title p {
  color: #fff;
  width: 418px;
  /* Paragraph */
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  width: 418px;
  height: 283px;
  flex-shrink: 0;
}
.footer-item-titlee h3 {
  color: #fff;
  /* Heading */
  font-family: Comfortaa;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  padding-top: 40px;
  margin-bottom: 70px;
}
.footer hr {
  width: 1300px;
  height: 2px;
  background: #fff;
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 60px;
}
.footer-copy h3 {
  color: #fff;
  font-family: Comfortaa;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-align: center;
}
.footer-item-title div {
  color: #fff;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  text-decoration-line: underline;
  margin-bottom: 18px;
}
.footer-item-titlee div {
  color: #fff;
  font-family: Comfortaa;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 30px */
  margin-bottom: 18px;
  text-decoration: none;
}
/* Responsive styles */
@media (max-width: 767px) {
  .navbar-nav {
    flex-direction: column;
    align-items: flex-start;
  }

  .form-control {
    width: 100%;
  }
}
